/* Global and fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
:root {
    --geomify-font: "Noto Sans JP", sans-serif;
}
html,
body {
    height: 100%;
}
#content {
    min-height: 40vh;
}
/* Navigation menu part */
.geomify-nav {
    height: 100%;
    display: inline-flex;
    align-items: center;
}
.geomify-nav > div,
.geomify-nav > div > div,
.geomify-nav > div > div > nav,
.geomify-nav > div > div > nav > div > ul,
.geomify-nav > div > div > nav > div > ul > li {
    height: 100%;
    display: inline-flex;
    align-items: center;
}
.geomify-nav li a {
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--link-color);
    transition: var(--geomify-transition);
    height: 100%;
}
.geomify-nav li :hover {
    color: var(--link-hover-color) !important;
}
.geomify-header .sub-menu {
    background-color: var(--background) !important;
}

.geomify-header {
    display: inline-flex;
    width: 100%;
    height: 51.797px;
    background-color: var(--background);
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.geomify-header-left-bar,
.geomify-header-right-bar {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 100%;
}
.geomify-logo a {
    color: var(--logo-color) !important;
}
.geomify-logo {
    margin-left: 20px;
    margin-right: 40px;
}

.geomify-download-button {
    color: #fff !important;
    background-color: var(--btn1-background-color);
}
.geomify-download-button:hover {
    background-color: var(--btn1-hover-background-color);
}

.geomify-head-button {
    text-transform: uppercase;
    display: inline-flex;
    font-size: 0.7em;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    transition: var(--geomify-transition);
    color: var(--color);
}
.geomify-head-button:hover {
    color: var(--hover-color);
}
.geomify-head-button i {
    margin: 0 8px;
    font-size: 1.5em;
}

.geomify-button-ico {
    padding: 0 10px;
}

/* Footer part */
.footer-row-1,
.footer-row-2 {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    font-family: var(--geomify-font);
    font-size: 0.9em;
}
.geomify-footer {
    height: 433.891px;
    background-color: var(--background);
    padding: 0 70px;
}
.footer-sub-row.footer-social i {
    color: var(--color);
    font-size: 1.5em;
    margin: 0 5px;
    transition: var(--geomify-transition);
}
.footer-sub-row.footer-social i:hover {
    color: var(--link-hover-color);
}
.footer-sub-row {
    display: flex;
    flex-flow: row;
}
.footer-sub-row .footer-sub-col {
    margin-right: 30px;
}

.footer-sub-row a {
    color: var(--color);
    transition: var(--geomify-transition);
}
.footer-sub-row a:hover {
    color: var(--link-hover-color);
}

.footer-row-1 {
    border-bottom: 1px solid rgb(59, 59, 59);
}
.footer-sub-row {
    padding: 5px 0;
}
.jump-to-top {
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: color;
    background-color: white;
    border: 3px solid black;
    font-size: 1.5em;
    cursor: pointer;
    transition: var(--geomify-transition);
    margin: 30px 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}
.jump-to-top:hover {
    /* border: 2px solid var(--link-hover-color);
    color: var(--link-hover-color); */
}
.copy-right-text {
    color: var(--link-color);
    font-size: 0.8em;
}
.jump-sec .jump-to-top {
    margin-left: calc(100% - 45px);
}
.ft-bt-ico {
    color: white;
    font-size: 1.5em;
}
/* Buttons style */
.btn1 {
    display: inline-block;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 0.8em;
    background-color: var(--btn1-background-color);
    transition: var(--geomify-transition);
    color: var(--btn1-color);
}
.btn1:hover {
    background-color: var(--btn1-hover-background-color);
}
.btn2 {
}
.btn2:hover {
}

.uppercase {
    text-transform: uppercase;
}

/* Defaults colors and styles */
.background {
    background-color: var(--background);
}
.background-light {
    background-color: var(--background-light);
}

/* Defaults */
.full-section {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .geomify-logo a {
        font-size: 0.6em;
        white-space: nowrap;
    }
    .geomify-logo .site-title {
        display: flex;
    }
    .geomify-header-right-bar {
        display: none;
    }
    .geomify-nav {
        display: none;
    }
}

.card-image-holder {
    height: 100%;
    width: 100%;
}

.banner-menu {
    backdrop-filter: blur(20px);
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 50%) 5px 5px 5px;
    background-color: rgba(81, 167, 249, 0.35);
}

.section-shadow {
    /* box-shadow: 0 1px 5px 1px #cccccc; */
    box-shadow: 0 6px 4px -4px #cccccc;
    z-index: 1;
}

.floating .start-free-button a {
    color: #51a7f9 !important;
    background-color: transparent !important;
}

/* Pano effect */
.geomify-pano-effect {
    overflow: hidden;
    height: 100%;
}
.geomify-pano-effect * {
    height: 100% !important;
}

.geomify-pano-effect img {
    width: auto;
    animation: pano;
    transform: scale(1.5, 1.5);
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes pano {
    40% {
        transform: scale(1, 1);
    }
    60% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.5, 1.5);
    }
}
/* Pano effect end */

/* Lightbox */
/* .geomify-lightbox-container .lightbox-close {
    background-color: #cccccc;
    color: white;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    z-index: 999999;
    cursor: pointer;
    transition: var(--geomify-transition);
}
.geomify-lightbox-container .lightbox-close:hover {
    background-color: #5a5a5a;
    color: red;
}
.geomify-lightbox-wrapper {
    position: relative;
    background-color: var(--background);
    /* display: flex;
    flex-direction: column; 
}
/*
.geomify-lightbox-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geomify-lightbox-container .geomify-lightbox-content {
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .geomify-lightbox-wrapper {
        min-width: 100vw;
        max-height: 100vh;
    }
    .geomify-lightbox-container .lightbox-close {
        right: 30px;
        top: 30px;
    }
}
@media only screen and (min-width: 769px) {
    .geomify-lightbox-wrapper {
        max-width: 80vw;
        min-width: 40vw;
        max-height: 80vh;
    }
    .geomify-lightbox-container .lightbox-close {
        right: -30px;
        top: -30px;
    }
} */

/* Lightbox end */

/* New lightbox */
.geomify-lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.821);
    z-index: 999999;
}
.geomify-lightbox {
    z-index: 999999;
    position: absolute;
    left: 7.5rem;
    right: 7.5rem;
    top: 5rem;
    height: calc(100vh - 10rem);
    box-shadow: 0 0 1000px black;
    background-color: var(--background);
    padding: 0 15px;
    border: 1px solid white;
    border-radius: 15px;
    min-width: 20vw;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.geomify-lightbox > * {
    display: inline-block;
    width: 100%;
}
.geomify-lightbox .geomify-lightbox-topbar {
    position: relative;
}
.geomify-lightbox .geomify-lightbox-content {
    height: calc(100% - 30px);
    overflow-x: auto;
}
.geomify-lightbox .lightbox-close {
    background-color: #cccccc;
    color: white;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    z-index: 999999;
    cursor: pointer;
    border: 1px solid var(--background);
    transition: var(--geomify-transition);
}

.geomify-lightbox .lightbox-close:hover {
    background-color: #5a5a5a;
    color: red;
}

@media only screen and (max-width: 768px) {
    .geomify-lightbox .lightbox-close {
        right: 30px;
        top: 30px;
    }
}
@media only screen and (min-width: 769px) {
    .geomify-lightbox .lightbox-close {
        right: -30px;
        top: -30px;
    }
}
/* New lightbox end */

/* Lightbox video */
.geomify-lightbox-video {
    min-width: 60vw;
    height: 100%;
}

.geomify-lightbox-video iframe,
.geomify-lightbox-video video {
    width: 100%;
    height: calc(100% - 35px);
}
.geomify-lightbox-content::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.geomify-lightbox-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.geomify-lightbox-content::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.geomify-lightbox-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}
