/* Global and fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
:root {
    --geomify-font: "Noto Sans JP", sans-serif;
}
html {
    scroll-behavior: smooth;
}
html,
body {
    height: 100%;
}
#content {
    min-height: 40vh;
}
/* Navigation menu part */
.geomify-nav {
    height: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.geomify-nav > div,
.geomify-nav > div > div,
.geomify-nav > div > div > nav,
.geomify-nav > div > div > nav > div > ul,
.geomify-nav > div > div > nav > div > ul > li {
    height: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.geomify-nav li a {
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--link-color);
    -webkit-transition: var(--geomify-transition);
    -o-transition: var(--geomify-transition);
    transition: var(--geomify-transition);
    height: 100%;
}
.geomify-nav li :hover {
    color: var(--link-hover-color) !important;
}
.geomify-header .sub-menu {
    background-color: var(--background) !important;
}

.geomify-header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 51.797px;
    background-color: var(--background);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.geomify-header-left-bar,
.geomify-header-right-bar {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 100%;
}
.geomify-logo a {
    color: var(--logo-color) !important;
}
.geomify-logo {
    margin-left: 20px;
    margin-right: 40px;
}

.geomify-download-button {
    color: #fff !important;
    background-color: var(--btn1-background-color);
}
.geomify-download-button:hover {
    background-color: var(--btn1-hover-background-color);
}

.geomify-head-button {
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 0.7em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition: var(--geomify-transition);
    -o-transition: var(--geomify-transition);
    transition: var(--geomify-transition);
    color: var(--color);
}
.geomify-head-button:hover {
    color: var(--hover-color);
}
.geomify-head-button i {
    margin: 0 8px;
    font-size: 1.5em;
}

.geomify-button-ico {
    padding: 0 10px;
}

/* Footer part */
.footer-row-1,
.footer-row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 0;
    font-family: var(--geomify-font);
    font-size: 0.9em;
}
.geomify-footer {
    height: 433.891px;
    background-color: var(--background);
    padding: 0 70px;
}
.footer-sub-row.footer-social i {
    color: var(--color);
    font-size: 1.5em;
    margin: 0 5px;
    -webkit-transition: var(--geomify-transition);
    -o-transition: var(--geomify-transition);
    transition: var(--geomify-transition);
}
.footer-sub-row.footer-social i:hover {
    color: var(--link-hover-color);
}
.footer-sub-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
}
.footer-sub-row .footer-sub-col {
    margin-right: 30px;
}

.footer-sub-row a {
    color: var(--color);
    -webkit-transition: var(--geomify-transition);
    -o-transition: var(--geomify-transition);
    transition: var(--geomify-transition);
}
.footer-sub-row a:hover {
    color: var(--link-hover-color);
}

.footer-row-1 {
    border-bottom: 1px solid rgb(59, 59, 59);
}
.footer-sub-row {
    padding: 5px 0;
}
.jump-to-top {
    padding: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: color;
    background-color: white;
    border: 3px solid black;
    font-size: 1.5em;
    cursor: pointer;
    -webkit-transition: var(--geomify-transition);
    -o-transition: var(--geomify-transition);
    transition: var(--geomify-transition);
    margin: 30px 0;
    position: fixed;
    /* bottom: 50px; */
    bottom: 0;
    right: 20px;
    z-index: 999;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}
.jump-to-top:hover {
    /* border: 2px solid var(--link-hover-color);
    color: var(--link-hover-color); */
}
.copy-right-text {
    color: var(--link-color);
    font-size: 0.8em;
}
.jump-sec .jump-to-top {
    margin-left: calc(100% - 45px);
}
.ft-bt-ico {
    color: white;
    font-size: 1.5em;
}
/* Buttons style */
.btn1 {
    display: inline-block;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 0.8em;
    background-color: var(--btn1-background-color);
    -webkit-transition: var(--geomify-transition);
    -o-transition: var(--geomify-transition);
    transition: var(--geomify-transition);
    color: var(--btn1-color);
}
.btn1:hover {
    background-color: var(--btn1-hover-background-color);
}
.btn2 {
}
.btn2:hover {
}

.uppercase {
    text-transform: uppercase;
}

/* Defaults colors and styles */
.background {
    background-color: var(--background);
}
.background-light {
    background-color: var(--background-light);
}

/* Defaults */
.full-section {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .geomify-logo a {
        font-size: 0.6em;
        white-space: nowrap;
    }
    .geomify-logo .site-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .geomify-header-right-bar {
        display: none;
    }
    .geomify-nav {
        display: none;
    }
}

.card-image-holder {
    height: 100%;
    width: 100%;
}

.banner-menu {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    -webkit-box-shadow: rgb(0 0 0 / 50%) 5px 5px 5px;
    box-shadow: rgb(0 0 0 / 50%) 5px 5px 5px;
    background-color: rgba(81, 167, 249, 0.35);
}

.section-shadow {
    /* box-shadow: 0 1px 5px 1px #cccccc; */
    -webkit-box-shadow: 0 6px 4px -4px #cccccc;
    box-shadow: 0 6px 4px -4px #cccccc;
    z-index: 1;
}

.floating .start-free-button a {
    color: #51a7f9 !important;
    background-color: transparent !important;
}

/* Pano effect */
.geomify-pano-effect {
    overflow: hidden;
    height: 100%;
}
.geomify-pano-effect * {
    height: 100% !important;
}

.geomify-pano-effect img {
    width: auto;
    -webkit-animation: pano;
    animation: pano;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    -webkit-animation-duration: 25s;
    animation-duration: 25s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes pano {
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }
}
@keyframes pano {
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }
}
/* Pano effect end */

/* Lightbox */
/* .geomify-lightbox-container .lightbox-close {
    background-color: #cccccc;
    color: white;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    z-index: 999999;
    cursor: pointer;
    transition: var(--geomify-transition);
}
.geomify-lightbox-container .lightbox-close:hover {
    background-color: #5a5a5a;
    color: red;
}
.geomify-lightbox-wrapper {
    position: relative;
    background-color: var(--background);
    /* display: flex;
    flex-direction: column; 
}
/*
.geomify-lightbox-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geomify-lightbox-container .geomify-lightbox-content {
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .geomify-lightbox-wrapper {
        min-width: 100vw;
        max-height: 100vh;
    }
    .geomify-lightbox-container .lightbox-close {
        right: 30px;
        top: 30px;
    }
}
@media only screen and (min-width: 769px) {
    .geomify-lightbox-wrapper {
        max-width: 80vw;
        min-width: 40vw;
        max-height: 80vh;
    }
    .geomify-lightbox-container .lightbox-close {
        right: -30px;
        top: -30px;
    }
} */

/* Lightbox end */

/* Accordion */
.geomify-accordion .elementor-accordion-item:first-child {
    display: none;
}
.geomify-accordion .elementor-accordion-item:nth-child(2) {
    border-top: 1px solid #d4d4d4 !important;
}
.geomify-accordion .elementor-tab-title {
    text-align: center;
}
.geomify-accordion .elementor-tab-title span {
    float: none !important;
}
.geomify-accordion .elementor-tab-content p {
    text-align: center;
}
/* Accordion end */

/* Contact forms */
.geomify-input-form .geomify-input-50 {
    width: calc(50% - 10px);
}
.geomify-input-form .geomify-input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.geomify-input-form input,
.geomify-input-form textarea,
.geomify-input-form select {
    border: 2px solid var(--cyan);
}
.geomify-input-form br {
    display: none;
}
.geomify-input-form .wpcf7-form-control-wrap:not(:last-child),
.geomify-input-form .geomify-input-group {
    margin-bottom: 10px;
}
.geomify-cf7-btn {
    display: none;
}
/* Contact forms end */

/* Multi step form */

.geomify-ms-input-wrapper > *:not(.geomify-empty-input):not(label) {
    display: inline-block;
    width: 100%;
    padding: 0.5em !important;
    border: 1px solid var(--cyan) !important;
}
.geomify-ms-input-group.pair-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
}
.geomify-ms-input-group.pair-group > * {
    width: calc(50% - 5px);
}
@media only screen and (max-width: 768px) {
    .geomify-ms-bottombar-item {
        flex-flow: column;
        text-align: center;
    }
    .geomify-ms-bottombar-item .geomify-ms-button > div {
        margin-bottom: 5px;
    }
}
.geomify-ms-input-group {
    margin: 10px 0;
}
.geomify-ms-bottombar-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.geomify-ms-bottombar-item .geomify-ms-button > div {
    padding: 5px 60px;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border: 2px solid var(--cyan);
    background: var(--cyan);
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: var(--geomify-transition);
    -o-transition: var(--geomify-transition);
    transition: var(--geomify-transition);
}

.geomify-ms-form-wrapper {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    /* align-items: center; */
}
.geomify-ms-form-wrapper > * {
    display: inline-block;
    width: 100%;
}

.geomify-ms-form-wrapper .geomify-ms-step:not(:first-child),
.geomify-ms-form-wrapper
    .geomify-ms-bottombar
    .geomify-ms-bottombar-item:not(:first-child) {
    display: none;
}
.geomify-ms-form-wrapper .geomify-ms-topbar {
    display: flex;
}
.geomify-ms-form-wrapper .geomify-ms-topbar .geomify-ms-topbar-item {
    height: 5px;
    background: #aaa;
    width: 40px;
}
.geomify-ms-form-wrapper .active-item-indicator {
    transition: all 0.3s linear;
    background: #ffffff !important;
}
.geomify-ms-form-wrapper
    .geomify-ms-topbar
    .geomify-ms-topbar-item:not(:last-child) {
    margin-right: 5px;
}
.geomify-ms-form-wrapper label {
    border: none !important;
    padding: 10px 0 0 0;
}
.geomify-ms-form-wrapper .geomify-ms-required-title {
    color: var(--cyan);
    border-bottom: 2px solid white;
    padding: 25px 0 5px 0;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
}
/* Multi step form end */

/* Loading logo animation */
.brand-loading-invert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.brand-loading-invert img {
    height: 35% !important;
    width: auto;
    animation: brand_loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    filter: invert(1);
}
.brand-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-loading img {
    height: 50% !important;
    width: auto;
    animation: brand_loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes brand_loading {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

/* Dashboard styles
Author: Nura Alam Rifat
*/

/* Project views */
.geomify-project-views {
    width: 100%;
    padding: 30px;
}
.geomify-project-views .pv-header {
    width: 100%;
    border-bottom: 2px solid #1181b2;
}
.pv-tab-key {
    text-transform: uppercase;
    padding: 8px 20px;
    background-color: #1181b2;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}
.pv-tab-key i {
    margin-right: 10px;
    font-size: 1.2em;
}
.pv-header {
    display: flex;
    justify-content: space-between;
}
.pv-body {
    position: relative;
}
.pv-header .header-item:nth-child(2) {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.pv-header p {
    margin: 0;
    font-size: 0.8em;
}
.geomify-project-views > * {
    margin: 10px 0;
}
.add-new-pv {
    padding: 8px 30px;
    background-color: #51a7f9;
    color: white;
    border: 2px solid #51a7f9;
    border-radius: 2px;
    font-size: 0.8em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--geomify-transition);
}
.add-new-pv:hover {
    background-color: transparent;
    color: #51a7f9;
}

.new-pv-header {
    display: flex;
    justify-content: space-around;
}

.new-pv-header img {
    filter: invert(1);
    height: 150px !important;
    width: auto;
}
.new-pv-header h2 {
    font-size: 1.5em;
    color: green;
    font-weight: 600;
}
.new-pv-header h5 {
    font-size: 0.8em;
    font-weight: 700;
    color: black;
}
.new-project-view {
    padding: 30px;
    box-shadow: 0px 0px 3px 3px rgba(0, 128, 0, 0.562);
    max-width: 500px;
    background-color: white;
    position: relative;
}
.new-pv-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
/* .new-pv-holder input[type="submit"] {
    padding: 6px 20px !important;
} */
.new-pv-close-button {
    position: absolute;
    padding: 0;
    top: -10px;
    right: -10px;
    height: 30px;
    width: 30px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--geomify-transition);
    z-index: 9;
}
.new-pv-close-button:hover {
    background-color: #ccc;
}

.new-pv-success {
    position: absolute;
    display: inline-flex;
    top: 0;
    left: 0;
    background-color: white;
}

.pv-items a .project-view-item-col:first-child {
    width: 200px;
}

.pv-items {
    display: flex;
    flex-flow: column;
}
.pv-items a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: -1px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: black;
    transition: var(--geomify-transition);
    cursor: pointer;
    padding: 10px;
}
.pv-items a:hover {
    background-color: #51a7f9;
    color: white;
}

.pv-items a img {
    height: 40px;
    width: auto;
}
.project-view-item-col {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
}
.project-view-item-col:last-child {
    justify-content: flex-end;
    align-items: center;
}
.project-view-item-col:nth-child(4),
.project-view-item-col:nth-child(5) {
    width: 100px;
}
.des-col {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    max-width: 400px;
    min-width: 300px;
}
.des-col > div:last-child {
    font-size: 0.8em;
    color: gray;
}
.pv-items a i {
    padding: 5px;
    transition: 0.3s all linear;
}
.edit-pv:hover {
    color: green;
}
.dlt-pv:hover {
    color: red;
}
/* Project views end */

/* Dashboard styles end */

/* Gtab */

.gtab-header {
    width: 100%;
}
.gtab-header.bottom-line {
    border-bottom: 2px solid #1181b2;
}
.gtab-tab-key {
    text-transform: uppercase;
    padding: 8px 20px;
    background-color: #1181b2;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}
.gtab-tab-key i {
    margin-right: 10px;
    font-size: 1.2em;
}
.gtab-header {
    display: flex;
    justify-content: space-between;
}
.gtab-body {
    position: relative;
}
.gtab-header .header-item:nth-child(2) {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.gtab-header p {
    margin: 0;
    font-size: 0.8em;
}
.gtab-header h2 {
    margin: 0;
}

.gtab-holder {
    padding: 30px;
    overflow: hidden;
    z-index: 2;
}
.gtab-holder > *:not(:first-child):not(:last-child) {
    margin: 15px 0;
}
.gtab-key-1 {
    display: flex;
    flex-flow: row;
}
.gtab-key-1 .key-item {
    padding: 5px 10px;
    border-bottom: 2px solid #ccc;
    width: 90px;
    font-size: 0.7em;
    color: black;
    text-transform: uppercase;
    text-align: center;
    transition: var(--geomify-transition);
    cursor: pointer;
}
.gtab-key-1 .key-item.active-key,
.gtab-key-1 .key-item:hover {
    border-bottom: 2px solid #51a7f9;
}
.gtab-key-1 .key-item:not(:last-child) {
    margin-right: 4px;
}
.gtab-key-1 .key-item.active-item {
    border-bottom: 2px solid #51a7f9;
}
.gtab-item:not(.active-item) {
    display: none;
    position: absolute;
    left: -100%;
    z-index: -1;
}
.gtab-item {
    z-index: 1;
}
@media only screen and (max-width: 600px) {
    .profile-section .profile-row form {
        flex-flow: column !important;
    }
    .profile-section .profile-col.button-col {
        justify-content: flex-start !important;
        padding: 0 !important;
    }
    .gtab-key-1 {
        flex-flow: column;
    }
    .gtab-key-1 .key-item {
        width: 100%;
        margin: 10px 0;
        font-size: 12px;
    }
    .geomify-dashboard-menu ul {
        margin-left: 0;
        width: 100%;
    }
    .tutorials-search-box {
        width: 90vw;
    }
    #tutorials-search {
        width: 150px;
    }
}

@media only screen and (max-width: 480px) {
}
/* Gtab end */

/* Porfile seciton */
.profile-section .profile-row form {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.profile-section .profile-col {
    width: 100%;
}
.profile-section .profile-col-50 {
    width: calc(100% - 100px) !important;
}
.profile-section .profile-col.button-col {
    max-width: 200px;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    padding: 10px;
}
.profile-section .profile-col.button-col .save-ac-info {
    padding: 8px 40px;
    border-radius: 0;
}
.profile-section .profile-col.button-col .save-ac-info i {
    margin-right: 10px;
    font-size: 1.2em;
}
.profile-section .profile-row {
    margin: 30px 0;
    padding: 30px 0;
    border-bottom: 2px solid #ccc;
}
/* Profile section end */

/* Random styles */
.geomify-cf7-form.wpcf7-response-output {
    font-size: 1.2em;
}

/* Random styles end */

/* Dashboard tutorials */
.tutorials-search-box {
    display: flex;
    flex: 3 1;
}
.tutorials-search-box select {
    font-size: 13px;
    padding: 5px 15px;
    border: 2px solid #51a7f9;
    border-right: none;
    border-radius: 0;
}
.filter-tutorials {
    background-color: #51a7f9;
    border: 2px solid #51a7f9;
    color: white;
    font-size: 13px;
    padding: 5px 40px;
    text-align: center;
    transition: var(--geomify-transition);
    cursor: pointer;
}
.filter-tutorials:hover {
    color: #51a7f9;
    background-color: transparent;
}
.geomify-tutorials-list {
    display: flex;
    flex: 50 50;
    justify-content: space-around;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.geomify-tutorials-list > * {
    max-width: calc(50% - 40px);
    position: relative;
    margin: 20px;

    /* display: inline-flex;
    justify-content: center;
    align-items: center; */
}
.tutorial-item > div:first-child {
    border: 2px solid #51a7f9;
}
.geomify-tutorials-list > * a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 1.2em;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px black;
    font-weight: 600;
}
@media only screen and (max-width: 480px) {
    .geomify-tutorials-list {
        flex-flow: column;
        align-items: center;
    }
    .tutorial-item {
        width: 70vw;
        max-width: 70vw;
    }
    .pv-header {
        flex-flow: column;
    }
    .pv-header .header-item:not(:last-child) {
        margin-bottom: 10px;
    }
    .pv-header .header-item:last-child {
        justify-content: flex-start;
    }
    .pv-items a {
        flex-flow: column;
        height: auto;
        align-items: flex-start;
    }
    .project-view-item-col:last-child {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .pv-items a .project-view-item-col:first-child {
        margin-bottom: 10px;
    }
    .pv-items a .project-view-item-col:nth-child(2) {
        margin-bottom: 10px;
    }
}
/* Dashboard tutorials end */

/* Registration step */
.registration-step .submission-section,
.user-activation .submission-section {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding: 20px 0;
}
.registration-step .geomify-form-submit-btn {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    padding: 8px 50px;
}
.registration-step .geomify-form-submit-btn:hover {
    color: white !important;
}
.registration-step .geomify-empty-input {
    font-weight: 600;
    font-size: 0.8em;
}
.registration-step .submission-section a {
    color: white;
    font-size: 0.8em;
    padding: 8px 0;
}
.registration-success {
    border: 2px solid #51a7f9;
    text-align: center;
    background-color: white;
    font-size: 0.9em;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column;
}
.registration-success h3 {
    font-weight: 600;
    font-size: 2em;
}
.reset-create-space-form {
    background-color: white !important;
    color: #51a7f9;
}
.reset-create-space-form:hover {
    color: white !important;
    background-color: #51a7f9 !important;
}
.registration-success p,
.registration-success span {
    font-size: 0.8em;
}

/* Registration step end */

/* Show hide password */
.show-hide-password-section {
    display: flex;
    align-items: center;
}
.show-hide-password-section > * {
    cursor: pointer;
}
.show-hide-password-section > *:not(:last-child) {
    margin-right: 15px;
}
/* Show hide password end */

/* Payment */
.payment-holder {
    min-width: 250px;
    max-width: 250px;
    min-height: 425px;
}
.payment-method-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.payment-method-list .method-item {
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    min-width: 120px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.payment-method-list .method-item:not(:last-child) {
    margin-right: 10px;
}
.payment-method-list .method-item.active-item {
    border: 1px solid black;
}
.payment-method-list .method-item:hover {
    border: 1px solid black;
}
.payment-method-list .method-title {
    font-size: 14px;
}
.method-option .payment-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}
.method-option .payment-input-group > * {
    width: 100%;
}
.method-option .payment-input-group input {
    z-index: 0;
}
.method-option .payment-input-group input:focus {
    z-index: 10;
}
/* .method-option #card_number{
    width: calc(100% - 1px);
} */
.method-option:not(.active-item) {
    display: none;
}
.method-option.active-item {
    display: block;
}
.payment-row.user-info-row {
    padding: 20px 0;
}
.payment-row.user-info-row input {
    width: 100%;
    z-index: 0;
}
.payment-row.user-info-row input:focus {
    z-index: 10 !important;
}
.payment-row.user-info-row input:not(:first-child) {
    margin-top: -1px;
}
.payment-row.user-info-row input:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.payment-row.user-info-row input:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.payment-holder strong {
    font-weight: 500;
    font-size: 12px;
}
.payment-holder .have-expiry > *:nth-child(1),
.payment-holder .have-expiry > *:nth-child(2) {
    width: 30%;
}
.payment-holder .have-expiry > *:nth-child(3) {
    width: calc(40% + 3px);
}
.payment-logo {
    height: 150px;
    width: auto;
}
.payment-row {
    display: flex;
    justify-content: flex-start;
}
.payment-header h2 {
    font-size: 22px;
    font-weight: 600;
}
.payment-header h4 {
    font-size: 12px;
    font-weight: 600;
}
.payment-box input {
    border-radius: 0;
    padding: 8px 15px;
    font-size: 12px;
    outline: none;
}
.payment-box input::placeholder {
    font-size: 11px;
}
#card_number {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#expire_month {
    border-bottom-left-radius: 5px;
}
#cvc {
    border-bottom-right-radius: 5px;
}
#expire_month,
#expire_year,
#cvc {
    margin-top: -1px;
}
#expire_year,
#cvc {
    margin-left: -1px;
}
.upgrade-success .success-header {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
.success-header h6 {
    color: #555;
    font-size: 12px;
    font-weight: 500;
}
.success-header h2 {
    font-size: 22px;
    font-weight: 600;
    color: black;
}
table.invoice-info {
    border: none;
}
table.invoice-info td {
    border: none;
    font-size: 12px;
}
table.invoice-info tr td:first-child {
    text-align: left;
    color: #555;
    font-weight: 400;
}
table.invoice-info tr td:last-child {
    text-align: right;
    color: black;
    font-weight: 500;
}
.invoice-buttons > *:first-child {
    background-color: white !important;
    color: var(--cyan) !important;
}
.invoice-buttons > * :first-child:hover {
    background-color: var(--cyan);
    color: white;
}
.invoice-buttons {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}
.invoice-buttons > * {
    font-size: 12px;
    padding: 8px 15px;
}
.InvoiceThumbnail {
    position: relative;
}
.InvoiceThumbnail-successMark {
    position: absolute;
    bottom: 35px;
    right: 25px;
}
.InvoiceThumbnail path {
    fill: rgb(10, 161, 10);
}
.upgrade-confirmation-text {
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.upgrade-buttons {
    display: flex;
    flex-flow: column;
}
.upgrade-buttons > * {
    padding: 8px 10px;
    font-size: 12px;
    text-align: center;
}
.upgrade-buttons > *:nth-child(2) {
    background: white !important;
    color: var(--cyan);
    margin-top: 5px;
}
.upgrade-buttons > *:nth-child(2):hover {
    background: var(--cyan) !important;
    color: white !important ;
}
.basic-unlocked {
    white-space: nowrap;
}
/* Payment end */

/* File upload */
.upgrade-not-complete {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.gtab-key-2 .key-item {
    width: 100px;
    text-align: left;
    text-transform: none;
}
.file-description {
    color: black;
    font-size: 12px;
}
.file-upload-submit-btn,
.start-file-upload-session {
    padding: 6px 20px;
    font-size: 12px;
}
.geomify-file-uploader {
    border: 2px solid #51a7f9;
    padding: 100px 50px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: 0.3s all linear;
}
.geomify-file-uploader.active {
    background-color: #ccc;
    box-shadow: 0 0 13px 3px #51a7f9;
}
.file-upload-form .thanks-section {
    border: 2px solid #51a7f9;
    padding: 30px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}
.file-upload-form .thanks-section h6 {
    font-size: 12px;
    font-weight: 600;
}
.file-upload-form .thanks-section p {
    font-size: 12px;
    font-weight: 400;
}

.file-upload-form .agreement-section {
    font-size: 12px;
}
.file-upload-form .geomify-empty-input {
    font-size: 0.8em;
}
.file-que {
    display: flex;
    flex-flow: column;
    margin: 30px 0;
}
.file-que .que-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.prgs-holder {
    display: flex;
    flex-flow: column;
    min-width: 200px;
}
.prgs-row {
    display: flex;
    justify-content: space-between;
}
.prgs-col {
    width: 100%;
}
.prgs-prc {
    width: 100%;
    height: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.current-prc {
    height: 100%;
    background-color: green;
    width: 0%;
}
.dlt-que i {
    cursor: pointer;
    transition: 0.3s all linear;
}
.dlt-que i:hover {
    color: #51a7f9;
}
.prc-col {
    display: flex;
    justify-content: flex-end;
}
.que-row .que-col:first-child {
    width: 180px;
}
.que-row .current-prc {
    transition: 0.3s all linear;
}
/* File upload end */
/* Pv tab */
.pv-tab-key:not(.active-item) {
    font-size: 8px;
    font-weight: 500;
}
.pv-tab-key.active-item {
    font-size: 11px;
}
.pv-tab-key:not(:first-child) {
    margin-left: 5px;
}
.pv-tab-key {
    cursor: pointer;
}
.pv-tab-key-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.tab-item:not(.active-item) {
    display: none;
}
.pv-titles .title-item:not(.active-item) {
    display: none;
}
/* Pv tab end */

/* Home button */
.home-button-holder {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
.home-button-item {
    font-size: 12px;
    font-weight: 500;
    /* text-shadow: 0 0 1px #fff; */
}
/* Home button end */

/* Newsletter */
.ns-input-group {
    display: inline-flex;
    margin: 4px 0;
    width: 100%;
}
.ns-input-group input[type="email"]::placeholder {
    font-size: 14px;
    color: #555;
}
.ns-input-group input[type="email"] {
    font-size: 14px;
    background-color: white;
    flex: 70%;
    margin-right: 10px;
    border: 1px solid #51a7f9;
}
.ns-input-group input[type="submit"] {
    background-color: #51a7f9;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s all linear;
    flex: 30%;
    border: 2px solid #51a7f9;
    cursor: pointer;
}
.ns-input-group input[type="submit"]:hover {
    background-color: white;
    color: #51a7f9;
}
.newsletter-activated {
    border: 2px solid #51a7f9;
    padding: 100px 20px;
    margin: 20px;
    background-color: white;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .ns-input-group {
        flex-flow: column;
    }
    .ns-input-group input[type="submit"] {
        margin-top: 10px;
        width: 200px;
    }
}
/* Newsletter end */

/* Quotes */

.center-button-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .geomify-lightbox .get-quote-holder {
        /* min-width: 700px;  */
        max-width: 40vw;
    }
}
@media only screen and (min-width: 768px) {
    .enterprise-quote-submit {
        white-space: nowrap;
    }
    /* .new-quote {
        min-width: 500px;
    } */
}
.geomify-border-btn {
    border: 2px solid #51a7f9;
    color: #51a7f9;
    padding: 6px 20px;
    cursor: pointer;
    transition: 0.3s all linear;
}
.geomify-border-btn:hover {
    background-color: #51a7f9;
    color: white;
}

.quote-success {
    border: 2px solid #51a7f9;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}
.quote-success h2 {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.quote-success p {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}
/* Quotes end */

/* Partner programs */
.elementor.elementor-3382,
.elementor.elementor-2311,
.elementor.elementor-2305 {
    max-width: 30vw;
    min-width: 500px;
}

/* Partner programs end */

/* Privacy policy */
.privacy-tab .elementor-tab-content {
    padding: 100px 30px !important;
}

/* Privacy policy end */

/* Billing section */
.billing-section {
    padding: 30px;
}
.billing-row {
    margin: 20px 0;
}
.billing-header {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
h4.billing-subheader {
    font-size: 14px;
    font-weight: bold;
}
.billing-sub-item {
    padding: 10px 30px;
    margin: 10px 0;
    background-color: #51a7f9;
    color: white;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
}
.billing-method-item {
    display: flex;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #ccc;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.bmi-col {
    display: flex;
    flex-flow: column;
}
.dlt-pm {
    cursor: pointer;
    transition: 0.3s all linear;
}
.dlt-pm:hover {
    color: red;
}
.subscription-list-holder {
    display: flex;
    flex-wrap: wrap;
}
.subscription-list-holder > div {
    margin: 10px 10px 0 0;
    padding: 20px 50px;
    border-radius: 5px;
    background-color: #51a7f9;
    color: white;
    position: relative;
    cursor: pointer;
    transition: 0.3s all linear;
    border: 2px solid #51a7f9;
}
.subscription-list-holder > div:hover {
    color: #51a7f9;
    background-color: white;
}

/* Billing section end */

.grecaptcha-badge {
    z-index: 10;
}

/* Start basic */
.start-basic-holder .geomify-form-submit-btn {
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start basic end */

@media only screen and (min-width: 768px) {
    .menu-item-4177,
    .menu-item-4178 {
        display: none !important;
    }
}

/* Cookie consent */
@media only screen and (min-width: 768px) {
    .ck-row:last-child {
        /* min-width: 50vw; */
    }
}

.ck-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ck-row:first-child {
    justify-content: space-between;
}
/* .ck-row:last-child {
    justify-content: center;
    display: none;
} */

.ck-holder {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    display: none;
    z-index: 99999999999;
}
.ck-consent {
    /* margin-left: auto;
    margin-right: auto; */
    margin-left: 30px;
    background-color: #000;
    border: 4px solid #51a7f9;
    padding: 30px 60px;
    box-shadow: 0 0 8px #ccc;
    max-width: 600px;
}
.ck-col {
    margin: 10px;
}
.ck-col,
.ck-col h6,
.ck-col h4 {
    color: white;
}
.ck-accept,
.ck-reject {
    padding: 10px 20px;
    border: 2px solid #51a7f9;
    cursor: pointer;
    transition: 0.3s all linear;
    border-radius: 3px;
}
.ck-accept {
    background-color: #51a7f9;
    color: white;
}
.ck-accept:hover {
    background-color: white;
    color: #51a7f9;
}
.ck-reject {
    color: #51a7f9;
}
.ck-reject:hover {
    background-color: #51a7f9;
    color: white;
}
/* Cookie consent end */
/* .grecaptcha-badge {
    display: none !important;
} */

/* User login */
.ul-row,
.ur-row {
    display: inline-flex;
    flex-flow: column;
    /* background-color: #51a7f9; */
    background-color: #164e86;
    width: 350px;
    /* height: 500px; */
    box-shadow: 0 0 6px #333;
    padding: 20px 30px;
    font-size: 0.9em;
}

.user-login-holder {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    justify-content: center;
    align-items: center;
    animation: login_blur;
    animation-delay: 0.4s;
    animation-duration: 10s;
    animation-iteration-count: 1;
}
.ul-row .brand-logo,
.ur-row .brand-logo {
    height: 120px;
    width: auto;
}
.ul-col:nth-child(1) {
    text-align: center;
}
.ul-col:nth-child(2) h2 {
    color: white;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
}
@keyframes login_blur {
    0% {
        backdrop-filter: blur(0px);
    }
    /* 50% {
        backdrop-filter: blur(2px);
    } */

    100% {
        backdrop-filter: blur(20px);
    }
}

.ul-input-row {
    display: flex;
    flex-flow: column;
}
.ul-input-row:first-child {
    margin-bottom: 10px;
}
.ul-input-row input {
    outline: none;
    border-radius: 2px;
    padding: 6px 10px;
}

.ul-input-row input::placeholder {
    font-size: 12px;
    color: #ccc;
}
.ul-input-row input:focus {
    /* box-shadow: 0 0 4px black;
    border: 2px solid #ccc;
    outline: none; */
}
.ul-input-row label {
    color: white;
}
.ul-col.btn-col {
    display: flex;
    justify-content: space-between;
}
.login-btn,
.start-free-btn,
.reset-btn {
    padding: 6px 20px;
    width: 100%;
    border: 2px solid #51a7f9;
    text-align: center;
    color: white !important;
    transition: 0.3s all linear;
    cursor: pointer;
    font-size: 14px;
}
.login-btn,
.reset-btn {
    margin-right: 10px;
    background-color: #51a7f9;
}
.login-btn:hover,
.reset-btn:hover {
    background-color: white;
    color: #51a7f9 !important;
}
.start-free-btn:hover {
    background-color: #51a7f9;
    color: white;
}
.f-pass {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
}
.ul-row a,
.ur-row a {
    color: #51a7f9;
}
.agree-col label {
    color: white;
}
.ul-col {
    margin: 10px 0;
}
.agree-col {
    display: flex;
    align-items: center;
}
.agree-col input {
    margin-right: 10px;
}
.agree-col label {
    cursor: pointer;
}

.is-loading {
    animation: brand_loading_login;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 0s;
}
@keyframes brand_loading_login {
    0% {
        height: 80px;
    }

    50% {
        height: 120px;
    }
    100% {
        height: 80px;
    }
}
.ul-col:first-child {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* User login end */

/* User dashboard menu */
.udm-holder {
    position: relative;
}
.udm-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.udm-pp {
    background-color: purple;
    border: 2px solid black;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.udm-col {
    padding: 0 10px;
}
.udm-toggle {
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.udm-col:nth-child(2) > div:nth-child(1) {
    color: white;
}
.udm-col:nth-child(2) > div:nth-child(2) {
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
}
.udm-items {
    box-shadow: 0 0 3px #ccc;
    background-color: white;
    display: flex;
    flex-flow: column;
    max-width: 250px;
    padding: 20px;
    position: absolute;
    bottom: -335px;
    right: -20px;
    display: none;
}
.udm-items.active {
    display: flex !important;
}
.udmi-row {
    display: flex;
}
.udmi-col {
}
.udmi-links {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    margin: 5px 0;
    width: 100%;
}
.udmi-btop {
    border-top: 1px solid #ccc;
}
.udmi-links a {
    color: #aaa;
    font-size: 14px;
}
.upgrade-link {
    color: black !important;
    text-decoration: underline !important;
}
.udmi-col {
    padding: 5px 10px;
}
.udmi-col:nth-child(2) > div {
    font-size: 12px;
}
/* User dashboard menu end */

.license-login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.upgrade-free{
    cursor: pointer;
}