/* Elementor widgets styles */
.geomify-button {
    display: inline-flex;
    text-transform: uppercase;
    font-weight: 600;
    background-color: white;
    color: black;
    transition: var(--geomify-transition);
    justify-content: center;
    align-items: center;
}

/* Default styles */
.geomify-block {
    height: 100%;
}

/* Video button */
.geomify-video-button-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.geomify-video-button-container .link-button {
    display: inline-flex;
    padding: 8px 30px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    color: black;
    transition: var(--geomify-transition);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px solid cyan;
}

.geomify-video-button-container .link-button:hover {
    background-color: cyan !important;
}

.geomify-video-button-container .video-button {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
}
.geomify-video-button-container .sub-description {
    font-size: 0.8em;
}

/* Compare table */
.geomify-compare-table-wrapper tr > *:not(:first-child) {
    text-align: center;
}
.geomify-compare-table-wrapper .ico-na {
    font-size: 0.8em;
}
.geomify-compare-table-wrapper tr > *:first-child {
    padding-left: 10px !important;
}
/* Compare table ended */

/* Video button */
.geomify-video-button {
    cursor: pointer;
    transition: var(--geomify-transition);
    text-shadow: 5px 5px 10px black;
}

/* Video button ended */

/* Price card */
.geomify-price-card .price-card-row {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 10px 0;
}
.geomify-price-card h2,
.geomify-price-card h4,
.geomify-price-card p {
    margin: 0;
}
.geomify-price-card .package-image {
    height: 100px;
    width: auto;
}
.geomify-price-card .package-button {
    display: inline-block;
}
.geomify-price-card .price-card-row:nth-child(2) {
    padding-bottom: 0;
}
.geomify-price-card .price-card-row:nth-child(3) {
    padding-top: 0;
}
/* Price card end */

/* Dashboard menu */
.geomify-dashboard-menu {
    display: flex;
}
.geomify-dashboard-menu ul {
    display: flex;
    flex-flow: column;
    list-style-type: none;
}
.geomify-dashboard-menu a img {
    height: 30px;
    width: auto;
    margin-right: 10px;
    filter: invert(1);
}
.geomify-dashboard-menu a {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 8px 30px;
    background-color: #1181b2;
    border: 2px solid #1181b2;
    color: white;
    /* transition: var(--geomify-transition); */
    transition: all 0.3s ease-in;
}

.geomify-dashboard-menu a:hover,
.geomify-dashboard-menu a.active-item {
    border: 2px solid white;
}


/* Dashboard menu end */


/* Iframe */
.geomify-iframe #wpadminbar{
    display: none;
}