/* Elementor widgets styles */
.geomify-ew-button {
    display: inline-flex;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: white;
    color: black;
    transition: var(--geomify-transition);
    /* width: 300px; */
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.g-filled {
    background-color: cyan;
    border: 2px solid cyan;
}
.g-filled:hover {
    background-color: transparent;
}
.g-borderd {
    border: 2px solid cyan;
    background-color: transparent;
}
.g-borderd:hover {
    background-color: cyan;
}

/* Hover colors */
.geomify-hover-white:hover {
    color: #fff !important;
}
.geomify-hover-black:hover {
    color: #000 !important;
}
.geomify-hover-cyan:hover {
    color: cyan !important;
}
/* Advertisement|Trial */
.advertisement__label-heading {
    padding: 0.5rem 1.25rem;
    background-color: #03657f;
    color: #fff;
    width: 100%;
    font-weight: 800;
    font-size: 1.5rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    display: inline-flex;
    width: 50%;
}

.advertisement__content__heading {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.advertisement__content {
    padding: 1rem;
    background-color: #fff;
    color: #6d6d6d;
    background-color: rgb(4, 42, 61);
    font-size: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Pano effect */
.geomify-pano-effect {
    overflow: hidden;
    border-radius: 10px;
}
.geomify-pano-effect img {
    animation: pano;
    transform: scale(1.5, 1.5);
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes pano {
    40% {
        transform: scale(1, 1);
    }
    60% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.5, 1.5);
    }
}

/* Pano effect end */
/* Default styles */
.geomify-block {
    height: 100%;
}

/* Video button */
.geomify-video-button-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.geomify-video-button-container .link-button {
    display: inline-flex;
    padding: 8px 30px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    color: black;
    transition: var(--geomify-transition);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px solid cyan;
}

.geomify-video-button-container .link-button:hover {
    background-color: cyan!important;
}

.geomify-video-button-container .video-button{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;    
    
}
.geomify-video-button-container .sub-description{
    font-size: .8em;
}
