/* Elementor widgets styles */
.geomify-button {
    display: inline-flex;
    text-transform: uppercase;
    font-weight: 600;
    background-color: white;
    color: black;
    transition: var(--geomify-transition);
    justify-content: center;
    align-items: center;
}

/* .geomify-button-filled {
    background-color: cyan;
}
.geomify-button:hover {
    background-color: transparent;
}
.geomify-button {
    border: 2px solid cyan;
    background-color: transparent;
}
.g-borderd:hover {
    background-color: cyan;
} */

/* Hover colors */
/* .geomify-hover-white:hover {
    color: #fff !important;
}
.geomify-hover-black:hover {
    color: #000 !important;
} */
/* .geomify-hover-cyan:hover {
    color: cyan !important;
} */

/* Pano effect */
.geomify-pano-effect {
    overflow: hidden;
    height: 100%;
}
.geomify-pano-effect > * {
    height: 100%;
}

.geomify-pano-effect img {
    height: 100% !important;
    width: auto;
    animation: pano;
    transform: scale(1.5, 1.5);
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes pano {
    40% {
        transform: scale(1, 1);
    }
    60% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.5, 1.5);
    }
}

/* Pano effect end */
/* Default styles */
.geomify-block {
    height: 100%;
}

/* Video button */
.geomify-video-button-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.geomify-video-button-container .link-button {
    display: inline-flex;
    padding: 8px 30px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    color: black;
    transition: var(--geomify-transition);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px solid cyan;
}

.geomify-video-button-container .link-button:hover {
    background-color: cyan !important;
}

.geomify-video-button-container .video-button {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
}
.geomify-video-button-container .sub-description {
    font-size: 0.8em;
}
